@model Vax_Aid.Models.UserDetails

@{
    ViewData["Title"] = "Conformation";

}
<style>
    @@media print {
        .btnPrint {
            display: none;
        }

        /.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }

        /
        .col-md-12 {
            width: 100%;
        }

        .col-md-11 {
            width: 91.66666666666666%;
        }

        .col-md-10 {
            width: 83.33333333333334%;
        }

        .col-md-9 {
            width: 75%;
        }

        .col-md-8 {
            width: 66.66666666666666%;
        }

        .col-md-7 {
            width: 58.333333333333336%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-5 {
            width: 41.66666666666667%;
        }

        .col-md-4 {
            width: 33.33333333333333%;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-2 {
            width: 16.666666666666664%;
        }

        .col-md-1 {
            width: 8.333333333333332%;
        }
    }
</style>


<div id="print" style="margin-top:100px">
    <h4>You have Successfully applied for vaccination.</h4><br />
    <h5 style="color:brown">(Take Screenshot or Print this document)</h5>
    <h4>Selected Vaccine: @Html.DisplayFor(model => model.VaccineInfo.vaccineName) </h4>
    <h4>Selected Vaccination Centre: @Html.DisplayFor(model => model.VendorLocation.LocationName) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ethnicity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddressName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedicalConditions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalConditions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disability)
        </dd>
    </dl>
</div>
<div id="print-btn"></div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.UserDetailsId">Edit</a>
    <button class="btn btn-primary " id="submit" onclick="htmlToPdf()">Download</button>
    <button class="btn btn-primary btnPrint"onclick="window.print()">Print</button>

</div>
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

    <script>
        //$(document).on('click', '.btnToken', function () {
        //    showMessage({
        //        title: 'this is title',
        //        text:'this is text'
        //    })
        //})
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#print-btn': function (element, renderer) {
                return true;
            }
        };

        $('#submit').click(function () {
            doc.fromHTML($('#print').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('pdf-version.pdf');
        });

    </script>


}