@model Vax_Aid.Models.UserDetails

@{
    ViewData["Title"] = "Conformation";
   
}



<div style="margin-top:100px">
    <h4>You have Successfully applied for vaccination.</h4><br />
    <h5 style="color:brown">(Take Screenshot or Print this document)</h5>
    <h4>Selected Vaccine: @Html.DisplayFor(model => model.VaccineInfo.vaccineName) </h4>
    <h4>Selected Vaccination Centre: @Html.DisplayFor(model => model.VendorLocation.LocationName) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ethnicity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddressName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedicalConditions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalConditions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disability)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserDetailsId">Edit</a> 

</div>
