@model Vax_Aid.Models.BookingDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookingDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vaccineInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vaccineInfo.vaccineName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetails.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Municipality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conformation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingDetailsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
