@model IEnumerable<Vax_Aid.Models.BookingDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="bookingDetailsDatatable" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vaccineInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conformation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.vaccineInfo.vaccineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetails.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conformation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingDetailsId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingDetailsId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingDetailsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bookingDetailsDatatable').dataTable({
            });
        });
    </script>

}
