@model Vax_Aid.Models.VendorDetails

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VendorDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VaccineAvailability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VaccineAvailability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vaccineInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vaccineInfo.vaccineName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VendorDetailsId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
