@model Vax_Aid.Models.VendorDetails

@{
    ViewData["Title"] = "Details";
   
}

<h2>Details</h2>

<div>
    <h4>VendorDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorLocation.LocationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VaccineAvailability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VaccineAvailability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vaccineInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vaccineInfo.vaccineName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorDetailsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
