@model IEnumerable<Vax_Aid.Models.VaccineInfo>

@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="vaccineInfoDatatable" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vaccineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="vaccineName" data-key="@item.VaccineInfoId">
                    @Html.DisplayFor(modelItem => item.vaccineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VaccineInfoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VaccineInfoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VaccineInfoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Centers where this vaccine is available...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>SN </td>
                            <td>Vendor Location</td>
                        </tr>
                    </thead>
                    <tbody class="bodyVendorLocation">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#vaccineInfoDatatable').dataTable({
            });
        });
        $(document).on('click', '.vaccineName', function () {
            var id = $(this).data('key');
            if (!id) {
                alert('ID Not Found');
                return;
            }
           $.ajax({
                type: "get",
                url: '@Url.Action("GetVendorMappedWithVaccine","VaccineInfoes")?vaccineid='+id,
                //dataType: "jsonp",
                //contentType: "application/json; charset=utf-8",
               dataType: "application/json",
               contentType: "application/json",
                success: function (resp) {
                    debugger;
                    var resp = $.parseJSON(er.responseText)
                    if (resp.success) {
                        var list = resp.data;
                        $('.bodyVendorLocation').html(mystring);

                        $('#locationModal').modal('show');
                    }
                    
                },
               error: function (er) {
                   var resp = $.parseJSON(er.responseText)
                   if (resp.success) {
                       debugger;
                       var list = resp.data;
                       var rows = '';
                       var i = 1;
                       list.forEach(function (vaccineInfo) {
                           rows += `<tr><td> ${i} </td><td>${vaccineInfo.locationName}</td></tr>`;
                           i++;
                       });

                       $('.bodyVendorLocation').html(rows);

                       $('#locationModal').modal('show');
                   }
                   
                   
                }
            });
        })
    </script>

}


