@model IEnumerable<Vax_Aid.Models.Address>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="AddressesDatatable" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AddressId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AddressId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AddressId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AddressesDatatable').dataTable({
            });
        });
    </script>

}

