@model Vax_Aid.Models.VendorLocation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VendorLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <input type="hidden" id="hdnMappedVaccine" asp-for="MappedVaccines"  />

            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>

<div>
    <table class="table table-responsive table-bordered">
        <tr>
            <td></td>
            <th>Vaccine Name</th>
        </tr>
        @foreach (VaccineInfo it in ViewBag.VaccineList as List<VaccineInfo>)
        {
            <tr>
                <td><input type="checkbox" class="chkVaccineInfo" data-key="@it.VaccineInfoId"></td>
                <td>@it.vaccineName</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorLocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var ids = $('#hdnMappedVaccine').val();
            var allIds = ids.split(',');
            $.each(allIds, function (i, x) {
                var id = $(this).data('key');
                $(".chkVaccineInfo[data-key=" + x + "]").prop("checked", true);
            })
        });
    </script>

}
