@model IEnumerable<Vax_Aid.Models.UserDetails>
@{
    ViewData["Title"] = "Vendor Dashboard";
}
<h2>@ViewData["Title"]</h2>

<h3>Welcome Vendor...</h3>

<div style="overflow: auto;">
    <table id="userDetailsDatatable" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VaccineInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ethnicity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalConditions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoseType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disability)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VaccineInfo.vaccineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorLocation.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ethnicity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.AddressName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Occupation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicalConditions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disability)
                    </td>
                    <td>
                        <button class="btn btn-primary btnDetail" data-key="@item.UserDetailsId">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tbody class="bodyUserDetails">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#userDetailsDatatable').dataTable({
            });
        });
        $(document).on('click', '.btnDetail', function () {
            debugger;
            var id = $(this).data('key');
            if (!id) {
                alert('ID Not Found');
                return;
            }
           $.ajax({
                type: "get",
                url: '@Url.Action("GetUserDetailsInfoByID", "UserDetails")?userid='+id,
               dataType: "application/json",
               contentType: "application/json",
                success: function (resp) {
                    debugger;
                    if (resp.success) {
                        var data = resp.Data;
                        //asdfas
                    } elses{
                        alert(resp.data);
                    }

                },
               error: function (er) {
                   debugger;

                }
            });
        })

    </script>
}
