@model List<Vax_Aid.Controllers.Locationinf>

<link href="~/css/StyleSheet.css" rel="stylesheet" />
<body>
    <div class="body-div">
        <div class="vax-form">
            <div class="form-div" >
                <form asp-action="Create" asp-controller="UserDetails" method="get">
                    <input type="hidden" name="VaccineInfoId" value="@ViewBag.VaccineInfoIdd" />
                    <h1 style="margin-left:20px;">Your Nearest Vaccination Centre Where @ViewBag.VaccineName is available.. </h1><br />
                    @foreach (var item in Model)
                    {
                        <input type="hidden" name="VendorLocationId" value="@item.VendorLocationId" />

                        <div class="item-result">
                            <ol><h3>@item.address <br /></h3></ol>
                            @*<button type="submit" class="search-button" name="Search">Apply Now</button>*@
                            <a href="@Url.Action("CustomCreate","UserDetails")?vaccineInfoID=@ViewBag.VaccineInfoIdd&vendorLocationID=@item.VendorLocationId" class="search-button" name="Search">Apply Now</a>
                            <hr />
                        </div>
                        <br />
                    }
                </form>
            </div>
        </div>
    </div>
</body>


